@import "bootstrap-sprockets";
@import "bootstrap";

.page-content {
	margin-left: 0px !important;
}

#logo{
	float: left;
	margin-left: 50px;
	font-size:1.7em;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 0px;
	padding-top: 10px;
	font-weight: bold;
	line-height: 1;


	&:hover {
	color: #fff;
	text-decoration: none;
	}
}

.iconposition {
	margin-right: 265px;
}

.solution {
	padding-left: 40px;
}

.blog-detail-image {
	height: 250px !important;
}

.blog-detail-image .blog-title {
	background: #a12a2a	!important;
	opacity: 1 !important;
}

.comment-action {
	margin-top: 10px !important;
}

.media-body p{
	margin: 0 0 0px !important;
}