<footer class="footer">
	<div class = "container">
		<div>
			<%= link_to 'Contact', contact_mailer_path %>
			<!-- <a href="mailto:prashantvithani@gmail.com" target="_top">Contact</a> -->
		</div>
	</div>
</footer>